@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import "./css/colors.css";
body {
  margin: 0;
  font-family: "Domine", serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
}

#root {
  height: 100vh;
}

.page-content {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  align-items: stretch;
  border: 1px solid #d6d9dc;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 1px;
}

.main-content {
  flex: 2 40%;
  border-right: 1px solid #d6d9dc;
}
.side-content {
  flex: 1 60%;
  padding: 20px;
}

.header {
  background-color: rgb(75, 75, 75);
  height: 30px;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

h3 {
  font-size: 1.3em;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  color: rgb(75, 75, 75);
  font-size: 1.6em;
  margin-bottom: 0;
}
article h3 a {
  color: rgb(75, 75, 75);
  font-weight: 400;
}

p {
  color: rgb(75, 75, 75);
  font-size: 0.9em;
}

article {
  padding: 10px;
  border-bottom: 1px solid #d6d9dc;
  border-left: 4px solid transparent;
}

article:hover {
  border-left: 4px solid var(--select-item-color);
}

article a {
  text-decoration: none;
  color: rgb(61, 146, 201);
  font-weight: bold;
}

.recipe-meta {
  color: #999;
  font-size: 0.6em;
  margin: 0;
}

h1.title {
  font-size: 320%;
  font-weight: 100;
  color: rgb(75, 75, 75);
  text-align: center;
}

h1.sub-title {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.1em;
}

.btn {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid #999;
  border: none transparent;
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 2px;
}

.content-actions {
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
}

/* form */
input,
textarea,
.selectField {
  width: 100%;
}

form.pure-form-stacked > input,
form.pure-form-stacked > textarea,
form.pure-form-stacked > .selectField {
  margin-bottom: 1.25em !important;
}

.pure-button {
  margin-right: 5px;
  color: #2e2f3e;
}
.button-xsmall {
  font-size: 65%;
  font-weight: 100;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  color: white;
}

.button-success {
  background: rgb(51, 119, 61); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

.pure-button {
  padding: 0.3em 0.7em;
}
.recipe-content {
  padding: 5px;
  font-weight: 400;
  font-size: 19px;
  color: #2e2f3e;
}
.recipe-content pre {
  margin-top: 0px;
  font-family: "Domine", serif;
  white-space: pre-wrap;
}

div.highlight {
  margin: 10px 0;
}
span.highlight {
  display: inline !important;
  padding: 0.2em 0.5em 0.3em !important;
}

.highlight {
  border-radius: 8px;
  font-family: "Roboto Mono", monospace;
  font-size: 0.7em;
}

pre code {
  margin: 10px 0;
}
p code {
  display: inline !important;
  padding: 0.2em 0.5em 0.3em !important;
}

code {
  border-radius: 8px;
  font-family: "Roboto Mono", monospace;
  font-size: 0.7em;
}

.editor .editor-actions {
  height: 40px;
  background-color: #e6e6e6;
}
.editor .editor-actions button {
  height: 100%;
  font-weight: bold;
  font-size: 0.8em;
}
.editor textarea {
  margin-top: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/********************/
/*Recipes list*/

.recipe-preview {
  background-color: #fafafb;
}
.recipe-preview:hover {
  background-color: #fff;
}
.recipe-description p {
  margin: 5px 0;
}

.tag {
  background-color: #d1e5f1;
  color: #39739d;
}
